* {
  margin: 0;
  padding: 0;
}

@import url("../../App.css");

.navigate {
  position: relative;
  width: 100%;
  height: 100%;
}

.navigate #add {
  width: fit-content;
  position: absolute;
  right: 0;
}
