* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'beVNProRegu';
  font-style: normal;
  font-weight: 0;
  src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf');
}

@font-face {
  font-family: 'beVNProBold';
  font-style: normal;
  font-weight: 0;
  src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf');
}

@font-face {
  font-family: 'beVNProSeBold';
  font-style: normal;
  font-weight: 0;
  src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf');
}

@font-face {
  font-family: 'beVNProThin';
  font-style: normal;
  font-weight: 0;
  src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf');
}
@font-face {
  font-family: 'beVNProLight';
  font-style: normal;
  font-weight: 0;
  src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf');
}
@font-face {
  font-family: 'beVNProItal';
  font-style: normal;
  font-weight: 0;
  src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-Italic.ttf');
}
@font-face {
  font-family: 'beVNProLigItal';
  font-style: normal;
  font-weight: 0;
  src: url('../fonts/Be_Vietnam_Pro/BeVietnamPro-LightItalic.ttf');
}

:root {
  --bgColor: #f0eadb;
  --mainColor: #7a413f;
  --popColor: #d8bd77;
  --darkColor: #454747;
  --logo: url('../../RSTubeLogo.png');
}
.app {
  background-color: var(--bgColor);
}

.btn {
  font-family: 'beVNProSeBold';
  font-size: 15px;
  padding: 5px;
  width: fit-content;
  border-radius: 7px;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(85%);
}

.btn-primary {
  color: var(--darkColor);
  border: solid 1px var(--darkColor);
  background-color: var(--popColor);
}

.btn-secondary {
  color: var(--darkColor);
  border: solid 1px var(--darkColor);
  background-color: var(--bgColor);
}

.border-dance {
  border: none;
  background: linear-gradient(90deg, var(--darkColor) 50%, transparent 50%),
    linear-gradient(90deg, var(--darkColor) 50%, transparent 50%),
    linear-gradient(0deg, var(--darkColor) 50%, transparent 50%),
    linear-gradient(0deg, var(--darkColor) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 2px, 16px 2px, 2px 16px, 2px 16px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  border-radius: 15px;
  padding: 10px;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}
