@import url("../../../App.css");

.item {
  width: 170px;
  height: 30px;
  display: flex;
  flex-direction: row;
  background-color: var(--popColor);
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.item:hover {
  background-color: var(--mainColor);
  transition: 0.25s;
}

.item .itemIcon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 100%;
  margin-left: 5px;
  color: var(--darkColor);
  transition: 0.25s;
}

.item .itemTitle {
  width: 70%;
  height: 100%;
  font-family: beVNProRegu;
  font-size: 16px;
  margin-top: 4px;
  color: var(--darkColor);
  transition: 0.25s;
}

.item:hover .itemIcon,
.item:hover .itemTitle {
  color: var(--bgColor);
  transition: 0.25s;
}

.menu {
  width: 200px;
  height: 100px;
  background-color: var(--popColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}
